.program-page {
    padding: 100px 0 ;
    background: #333333;
    color: #fff;
    text-align: center;

    .pro-img {
        display: block;
        width: 480px;
        height: 480px;
        margin: 0 auto;
        box-shadow: 0 0 20px #fff;
    }
    .progress {
        width: 90%;
        height: 4px;
        margin: 80px auto;
        background-color: #eee;
        border-radius: 50px;

    }
    .pro-title {
        padding: 10px 0 60px;
        font-size: 32px;
        // line-height: 160px;
    }
    .button-group {
        padding: 0 70px;
        display: flex;
        justify-content: space-around;
        .play-pause {
            width: 100px;
            height: 100px;
            border: 2px solid #fff;
            border-radius: 50%;
        }
        .btn-play {
            padding-left: 10px;
        }
        .at-icon {
            margin-top: 23px;
        }
    }
    .btn-share {
        margin: 100px auto;
        width: 60%;
        height: 80px;
        line-height: 80px;
        font-size: 28px;
    }
}