

.banner-swiper {
    // width: 690px;
    height: 316px;
    .banner-item-img {
        width:100%;
        height:100%;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
}
.nav-list {
    padding: 0 20px 8px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    .nav-item {
        width: 120px;
        margin: 8px 20px 8px;
        // margin-bottom: ;
    }
    .nav-img {
        width: 120px;
        height: 110px;
        
    }
}
.index-page {
    font-size: 24px;
    color: #333;
    background-color: #eee;
    .at-search-bar {
        position: static;
    }
    .adv-img {
        width: 100%;
        height: 240px;
    }
    .scroll-warp {
        height: 100% !important;
    }
}
.recommend{
    overflow:auto;
    margin:auto;
    .recommend-item {
        margin-top: 20px;
        padding: 0 30px;
        background-color: #fff;
    }
    .mode-list {
        display: flex;
        flex-direction: wrap-reverse;
        justify-content: space-between;
    }
    .mode-item {
        width: 200px;
        margin-bottom: 30px;
    }
    .recommend-title {
        position: relative;
        font-size: 32px;
        line-height: 96px;
    }
    .more-icon {
        position: absolute;
        top: 28px;
        right: 0;
        width: 60px;
        height: 40px;
    }
    .mode-name {
        margin-top: 6px;
        font-size: 28px;
        line-height: 32px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .mode-img {
        width: 200px;
        height: 200px;
    }
    .no-more {
        width: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
}